.secondary-btn {
  background-color: transparent; /* fond transparent */
  color: #2c7cc3; /* texte bleu */
  border: 2px solid #2c7cc3; /* bordure bleue */
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.secondary-btn:hover {
  background-color: #90909128;
  border-color: #212529;
  color: #212529;
}

.secondary-btn:active {
  transform: translateY(0);
  background-color: #215c91;
  border-color: #215c91;
}
