.newsletter {
  padding: 60px 10%;
  background: #ffffff;
  border-radius: 16px;
  margin-top: 40px;
  border-bottom: 1px solid #55555548;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.newsletter__content h2 {
  font-size: 1.2rem;
  color: #0f172a;
  font-weight: bold;
  margin-bottom: 12px;
}

.newsletter__content p {
  font-size: 1.1rem;
  color: #64748b;
  margin: 0 auto 24px;
}

.newsletter__form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}

.newsletter__form input {
  padding: 12px 16px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  flex: 1;
  min-width: 250px;
}

.newsletter__form button {
  padding: 12px 20px;
  background: #1f8a3b; /* bouton */
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.newsletter__form button:hover {
  background: #166b2c;
}

/* Responsive */
@media (max-width: 768px) {
  .newsletter__form {
    flex-direction: column;
  }

  .newsletter__form input {
    width: 100%;
  }
}
