.section_hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;

  gap: 40px;
  flex-wrap: wrap;
}

.section_hero__content {
  flex: 1;
  max-width: 600px;
}

.section_hero__content h1 {
  text-align: start;
  font-size: 1rem;
  color: #2c7cc3;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.section_hero__content p {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 16px;
  line-height: 1.6;
  text-align: start;
}

.hero_btn {
  background: #1f8a3b;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.hero_btn:hover {
  background: #166930;
  transform: translateY(-2px);
}

.section_hero__image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section_hero__image img {
  max-width: 100%;
  height: auto;
}

/* Responsive */
@media (max-width: 1024px) {
  .section_hero {
    flex-direction: column;
    padding: 40px 5%;
    text-align: center;
  }

  .section_hero__content {
    max-width: 100%;
  }

  .section_hero__image {
    margin-bottom: 20px;
  }
}
