.update-client-access {
  background: #f9f9f9;
  padding: 30px 10px;
  border-radius: 12px;
  max-width: 900px;
  width: 100%;
  margin: auto;
  font-family: "Segoe UI", sans-serif;
  border: 2px solid red; /* TEMPORAIRE pour debug */
}

.update-client-access h2 {
  color: #1a202c;
  margin-bottom: 20px;
}

.update-client-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.update-client-access h3 {
  padding: 0.6rem 0;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
}

select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}

.required {
  color: red;
}

.update-btn {
  background: linear-gradient(90deg, #07002e, #274d68);
  border: none;
  color: white;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.update-btn:hover {
  background: linear-gradient(90deg, #274d68, #07002e);
}
.update-client-form textarea {
  resize: none;
  min-height: 60px;
  padding: 0.5rem;
  border-radius: 8px;
}
